pandas
numpy
matplotlib
seaborn
scikit-learn

sentence-transformers

langchain
langchain-community
langchain-text-splitters

chromadb
faiss-cpu

transformers
torch
accelerate

pytest
streamlit

jupyter
tqdm
pyarrow
